html {
  margin: 0;
  padding: 0;
  border: none;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  background: #071c4a;
  background-image: url('../img/background.jpg');
  background-size: 100%;
  background-position: top;
  background-repeat: no-repeat;
}

body {
  min-height: 100vh;
  display: flex;
  flex-wrap: wrap;
  flex-flow: column;
  background: #071c4a6e;
  margin: 0;
  padding: 0;
  border: none;
}

/* Hide scrollbar */
html {
  overflow: scroll;
  overflow-x: hidden;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

::-webkit-scrollbar {
  width: 0px;
}

h1 {
  text-align: center;
  font-size: 2.5em;
  margin: 1em 0;
  color: #071c4a;
}

p {
  font-size: 1.6em;
  padding: 0 1em;
  box-sizing: border-box;
  width: 100%;
}

#loginForm h1 {
  font-size: 2.8em;
  margin: 0 auto;
  padding-bottom: 1em;
  color: #03339d;
  line-height: 1em;
}

header {
  position: relative;
  box-sizing: border-box;
  background: #fff;
  color: #071c4a;
  width: 100%;
  border-bottom: 3px solid #071c4a;
}

nav {
  width: 100%;
  font-size: 1.3em;
  color: #fff;
  background: #071c4a;
  border-bottom: 2px solid #fff;
}

#menuBurger {
  display: none;
}

#menu {
  max-width: 1000px;
  margin: 0 auto;
  box-sizing: border-box;
}

#menu a,
#menu a:visited {
  color: #fff;
  font-size: 1em;
  font-weight: bold;
  text-decoration: none;
}

#menu a:hover {
  color: #437eff;
}

.menuElement {
  padding: 1em;
  position: relative;
}

.menuElement:hover a {
  background: #fff;
}

.menuElement:hover {
  background: #fff;
}

main {
  background: #fff;
  margin: 0 auto;
  flex: 1;
  max-width: 1000px;
}

footer {
  background: #071c4a;
  width: 100%;
}

.footer {
  padding: 2em;
  box-sizing: border-box;
  max-width: 1000px;
  color: #fff;
  margin: 0 auto;
}

.header {
  max-width: 1000px;
  margin: 0 auto;
  height: auto;
  display: flex;
  overflow: hidden;
  padding: 3em 0 3em 5em;
  box-sizing: border-box;
  background-image: url('../img/parliament.png');
  background-position: 90% 50%;
  background-repeat: no-repeat;
  transition: height 350ms ease-in-out, padding 350ms ease-in-out, background-image 350ms ease-in-out, background-position 350ms ease-in-out;
}

.headerSmall {
  background-image: url('../img/parliament_small.png');
  padding: 1.4em 0 1.4em 5em;
  background-position: 80% 50%;
}

.header h1 {
  text-align: left;
  margin: 0;
  width: 100%;
}

.headerText {
  font-size: 1.2em;
}

#topDesc {
  width: 70%;
  transition: opacity 350ms ease-in-out;
}

.topBlock {
  width: 100%;
  height: 80px;
}

#mpName {
  padding: 1em;
  width: 60%;
  margin-bottom: 1em;
}

.mpNameWrapper {
  padding: 4em;
  margin-bottom: 1em;
  background: #ebe9e9;
  align-items: center;
}

#mpName h1 {
  text-align: left;
  margin-left: 0.6em;
  margin-bottom: 0.3em;
}

#mpName p {
  font-size: 1.1em;
  color: grey;
}

#mpDetails {
  position: relative;
  color: #071c4a;
}
.mpDetails {
  padding: 2em;
  font-size: 1.4em;
  justify-content: space-between;
}

.mpBrowse {
  width: 100%;
  padding: 0.7em;
  opacity: 1;
  background: #ebe9e9;
  color: #000;
  box-sizing: border-box;
  transition: opacity 350ms ease-in-out;
}

.mpBrowse:hover {
  opacity: 0.5;
}

.partyName {
  font-size: 0.9em;
  color: #494949;
}

.browseResults a {
  opacity: 0;
  transition: opacity 350ms ease-in-out;
  text-decoration: none;
  font-size: 1.3em;
  margin: 0.7em 0;
  width: 48%;
}

.browseResults {
  margin-bottom: 5em;
  padding: 0 2em;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

#browseText {
  width: 100%;
  font-size: 2.25em;
  box-sizing: border-box;
  font-weight: bold;
  color: #071c4a;
  padding: 0.5em 0 0.3em 0;
  text-align: center;
}

#randomFace {
  position: absolute;
  /* top: 35px; */
  right: 12%;
  width: 250px;
  height: 250px;
}

.randomFace {
  position: absolute;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  border-radius: 100em;
}

.mpSingleDetail {
  width: 48%;
  background: #ebe9e9;
  box-sizing: border-box;
  padding: 10px;
  margin: 15px 0;
}

#loginForm {
  box-sizing: border-box;
  max-width: 500px;
  margin: 0 auto;
  padding: 3em;
  background: #fff;
}

#loginForm a {
  font-size: 1em;
  text-decoration: none;
}

::placeholder {
  color: #88a2dc;
}

.flexForm {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

input,
select {
  width: 100%;
  margin-bottom: 1em;
  padding: 12px 10px 8px 10px;
  font-size: 1.4em;
  color: #071c4a;
  border: none;
  border-bottom: 3px solid #071c4a;
  background: #fff;
  box-sizing: border-box;
  outline: none !important;
  transition: background-color 350ms ease-in-out;
}

option {
  cursor: pointer;
}

#searchButton {
  width: 25%;
}

input[type='submit'] {
  width: 50%;
  margin: 0;
  cursor: pointer;
  border: 3px solid #071c4a;
  margin-top: 1em;
}

#colours {
  background: #fff;
  outline: none !important;
  border: none;
  position: absolute;
  z-index: 4;
  padding: 0;
}

input[type='checkbox'] {
  width: auto;
}

input[type='submit']:hover {
  color: #fff;
  background: #071c4a;
}

input[type='date'] {
  padding: 10px 10px 6px 10px;
}

label {
  font-size: 1.2em;
}

.inputWrapper label {
  pointer-events: none;
  position: absolute;
  top: 12px;
  right: 20px;
  font-size: 1.4em;
  color: #88a2de;
}

.inputWrapper {
  position: relative;
  width: 48%;
}

.interests {
  width: 33%;
  font-size: 1.2em;
}
/* source:
https://stackoverflow.com/questions/62162645/change-color-of-chromes-calendar-icon-in-html-date-input */
input::-webkit-calendar-picker-indicator {
  filter: opacity(0%);
}

input::-webkit-calendar-picker-indicator:hover {
  filter: opacity(0%);
}

.error {
  font-size: 1.2em;
  color: red;
  box-sizing: border-box;
  width: 100%;
  margin-bottom: 20px;
}

.manageError {
  font-size: 1.3em;
  color: red;
  box-sizing: border-box;
  width: 100%;
  margin: 0 0 10px 1em;
}

#errorMessage {
  padding-top: 3em;
}

input.errorField,
select.errorField,
input[type='date'].errorField {
  border: 4px solid red;
  padding: 8px;
}

input[type='date'].errorField {
  padding: 6px;
}

.errorField {
  border: 4px solid red;
  padding: 10px;
  padding-top: 25px;
  box-sizing: border-box;
}

input.successField,
select.successField,
input[type='date'].successField {
  background-color: #c9d9ff;
  padding: 10px;
  transition: background-color 350ms ease-in-out;
}

input[type='date'].successField {
  padding: 8px;
}

.successField {
  background-color: #c9d9ff;
  padding: 10px;
  padding-top: 25px;
  box-sizing: border-box;
  transition: background-color 350ms ease-in-out;
}

.confirmation {
  padding: 1.5em 1em;
  font-size: 1.5em;
  background: #b9cfff;
  margin: 2em 1em;
  border-bottom: 3px solid #071c4a;
}

.flex {
  display: flex;
  flex-wrap: wrap;
}

#searchBar {
  box-sizing: border-box;
  width: 100%;
  padding: 1.1em 2em 1em 2em;
  background: #ebe9e9;
  /* border-bottom: 3px solid #071c4a; */
}

#searchInputsWrapper {
  overflow: hidden;
  justify-content: space-between;
  transition: height 350ms ease-in-out, margin-top 350ms ease-in-out;
}

#filters {
  width: 100%;
  padding: 1em 2em 1em 1em;
  padding-bottom: 0;
  font-size: 1.2em;
  overflow: hidden;
  box-sizing: border-box;
  text-align: right;
  transition: height 350ms ease-in-out;
}

.filter {
  background: #071c4a;
  border-radius: 1em;
  padding: 0.2em 0.5em;
  color: #fff;
  margin-left: 1em;
  margin-top: 5px;
  display: inline-block;
}

.filterX {
  cursor: pointer;
  position: relative;
  background: #fff;
  color: #071c4a;
  border-radius: 10em;
  left: -5px;
  display: inline-block;
  padding: 0 0.3em;
}

.filterX:hover {
  opacity: 0.5;
}

.colourOption {
  background: #fff;
  width: 100%;
  box-sizing: border-box;
  padding: 10px;
  border-left: 1px solid #fff;
  border-right: 1px solid #fff;
}

.wrapper {
  box-sizing: border-box;
  width: 1000px;
  margin-bottom: 5em;
  padding: 1em 2em;
}
.manage {
  margin: 2em 0;
}
.manageTitle {
  padding: 1em;
  font-size: 1.6em;
  background: #071c4a;
  box-sizing: border-box;
  color: #fff;
  background-image: url('../img/arrow-right-1.png');
  background-repeat: no-repeat;
  background-position: 96% 50%;
  cursor: pointer;
}

.manageTitle a,
.manageTitle a:visited {
  color: #fff;
  border-bottom: 2px dotted #fff;
  text-decoration: none;
}

.manageTitle a:hover,
.manageTitle a:active {
  color: #1e64ff;
  border-bottom: 2px dotted #1e64ff;
  text-decoration: none;
}

.manageContent {
  background: #e3e3e3;
}

#xButton {
  position: absolute;
  width: 30px;
  height: 30px;
  padding: 10px;
  right: 3em;
  top: 1.8em;
}

#xButton:hover {
  cursor: pointer;
}

.showHideFilters {
  background: #071c4a;
  border-radius: 1em;
  padding: 0.2em 0.5em;
  font-size: 1.2em;
  color: #fff;
  margin-left: 1em;
  float: right;
  cursor: pointer;
}

.toggle-content.is-visible {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  height: auto;
  width: 100%;
}

.toggle-content {
  display: none;
  height: 0;
  overflow: hidden;
  transition: height 350ms ease-in-out;
}

#xButton.visible {
  background-image: url('../img/x-2.png');
  background-repeat: no-repeat;
  background-color: #fff;
  border-radius: 10em;
  background-position: center;
}

#xButton.hidden {
  background-image: url('../img/arrow-down-2.png');
  background-repeat: no-repeat;
  background-color: #fff;
  border-radius: 10em;
  background-position: center;
}

.none {
  display: none;
}

#addMp,
#addInterest,
#addConstituency,
#addParty {
  width: 100%;
  padding: 0.8em;
  box-sizing: border-box;
}

@media screen and (max-width: 1024px) {
  .wrapper,
  #menu,
  main,
  footer,
  .footer,
  header {
    width: 100%;
    box-sizing: border-box;
  }
}
@media screen and (max-width: 790px) {
  html {
    background-image: none;
  }
  .inputWrapper,
  .browseResults a,
  .mpSingleDetail {
    width: 100%;
  }

  #filters {
    font-size: 1em;
  }

  .browseResults {
    padding: 0 1em;
  }

  h1 {
    font-size: 2.2em;
    margin: 1em 1em;
  }

  .interests {
    width: 50%;
  }

  .confirmation {
    padding: 0.8em 0.5em;
    font-size: 1.3em;
    margin: 0.5em;
  }

  #searchButton {
    width: 100%;
  }

  .wrapper {
    margin-bottom: 3em;
    padding: 1em;
  }

  #menuItems {
    display: none;
    width: 100%;
  }

  #menuBurger {
    display: block;
    position: absolute;
    right: 0;
    padding: 1em 1em 0 0;
  }

  #menu a {
    width: 100%;
  }

  #errorMessage {
    padding-top: 1.5em;
  }

  .manageError {
    margin-bottom: 8px;
    font-size: 1em;
  }

  .manage {
    margin: 1em 0;
  }

  .manageTitle {
    font-size: 1.4em;
    background-size: 5%;
    padding: 0.7em;
  }

  p {
    font-size: 1.3em;
    padding: 0;
  }

  input[type='submit'] {
    width: 100%;
  }

  #searchBar {
    padding: 1em 1em;
  }

  #searchInputsWrapper {
    justify-content: center;
  }

  .header {
    padding: 1em;
    background: none;
  }
  .headerSmall {
    padding: 1em;
    background-position: 70% 50%;
    background-image: url('../img/parliament_small.png');
    background-size: 7%;
    background-repeat: no-repeat;
  }

  .header h1 {
    font-size: 1.6em;
  }

  #topDesc {
    width: 100%;
    margin-top: 0.6em;
  }

  .mpDetails {
    font-size: 1.3em;
    padding: 1.7em 0.8em;
  }

  .mpNameWrapper {
    padding: 2.6em 1em;
    justify-content: center;
  }

  #mpName {
    width: 100%;
  }

  #randomFace {
    position: static;
    width: 200px;
    height: 200px;
    order: 2;
  }

  .randomFace {
    position: static;
  }

  #browseText {
    font-size: 1.4em;
    padding: 1em 0 0.6em 0;
  }

  #xButton {
    right: 1em;
    top: 0.5em;
  }
}

@media screen and (max-width: 570px) {
  h1 {
    font-size: 1.6em;
    margin: 1em 0;
  }

  .headerSmall {
    background-image: none;
  }

  .header h1 {
    width: 50%;
  }

  .interests {
    width: 100%;
  }

  #xButton {
    top: 1.5em;
  }

  #mpName {
    padding-left: 0.7em;
  }
  #mpName h1 {
    padding: 0;
    margin: 0;
    font-size: 2em;
  }

  #mpName p {
    padding: 0.5em 0;
    margin: 0;
  }

  input,
  select {
    font-size: 1.2em;
  }

  .inputWrapper label {
    font-size: 1.2em;
    top: 14px;
  }
}
